# Backend config
DJANGO_ENV='development'
DJANGO_ALLOWED_HOSTS='*'
DEFAULT_TIME_ZONE='Asia/Dhaka'
DJANGO_SECRET_KEY='HelloWorld'

# Site config
SITE_NAME='DJANGO FILE STORAGE SYSTEM'
ADMIN_SITE_HEADER='DJANGO FILE STORAGE SYSTEM ADMIN PORTAL'
API_BROWSER_HEADER='DJANGO FILE STORAGE SYSTEM API'

# Database config
DATABASE_NAME='django_file_storage_system'
DATABASE_OWNER=''
DATABASE_PASSWORD=''
DATABASE_HOST='localhost'
DATABASE_PORT=5432


# Log config
MEDIA_ROOT='/media/'

# URL related conf
BASE_URL='http://localhost:8000'

